<ng-container *ngIf="!loading">
  <section class="summoner-list">
    <ng-container *ngFor="let summoner of summoners.summonerNames; let i = index">
      <ng-container *ngIf="summonerStats[i]">
        <app-summoner
          [index]="i"
          [inGame]="isSummonerInGame(summoner)"
          [summonerName]="summoner"
          [summonerIconId]="summoners.summonerIconsIds[i]"
          [summonerStats]="summonerStats[i]">
        </app-summoner>
      </ng-container>
    </ng-container>
  </section>
</ng-container>
