<section class="about-container">
  <h1 class="about-title">About Road to Master</h1>
  <article class="about-article">
    <h1 class="about-article-title">What is this ?</h1>
    <p class="about-article-text">
      Welcome to the "Road to Master" project, where we track the journey of a dedicated League of Legends player. This project is designed to help you improve your skills in League of Legends by providing you with insights into your performance. But more importantly, challenge yourself to become the best player you can be, and first to reach 1 place in this project.
    </p>
    <h2 class="about-article-title">Challenge Yourself ?</h2>
    <p class="about-article-text">
      Take on the challenge of mastering your skills in League of Legends. Whether you're a seasoned player or just starting your journey, "Road to Master" provides insights into your performance and allows you to set personal goals for improvement. Explore your strengths and weaknesses and work your way up the competitive ladder.
    </p>
    <h2 class="about-article-title">How it Works ?</h2>
    <p class="about-article-text">
      "Road to Master" uses the Riot Games API to collect data about your performance in League of Legends. The data is then processed and displayed in a variety of ways to help you understand your strengths and weaknesses
    </p>
    <h2 class="about-article-title">Who am I ?</h2>
    <p class="about-article-text">
      Im a solo developer who is passionate about League of Legends. I created this project to help myself and others improve at the game.
    </p>
    <h2 class="about-article-title">How can You Help ?</h2>
    <p class="about-article-text">
      If you have any feedback or suggestions, please feel free to use the <span (click)="goToTop()" class="about-article-text-link" [routerLink]="['/contact']" >Contact</span> page to get in touch with me. I'm always looking for ways to improve the project and make it more useful for everyone.
    </p>
  </article>
</section>
