<section *ngIf="!loading && !NoStats" class="champion-stats-container">
  <h1 class="summoner-stats-title">Summoner Stats</h1>
  <div class="summoner-stats">
    <!-- First row of stats -->
    <div class="summoner-stats-row">
      <div class="summoner-stats-position">
        <img class="summoner-stats-position-img" ngSrc="assets/images/positions/{{ mainRole | titlecase }}.png" alt="{{ mainRole }}" width="50" height="50" priority="true">
      </div>
      <div class="summoner-stats-number-of-games">
        <p class="summoner-stats-number-of-games-title">Number of Games</p>
        <p class="summoner-stats-number-of-games-value">{{ numberOfGames }}</p>
      </div>
      <div class="summoner-stats-winrate">
        <p class="summoner-stats-winrate-title">Winrate</p>
        <p class="summoner-stats-winrate-value">{{ winrate }}%</p>
      </div>
      <div class="summoner-stats-kda">
        <p class="summoner-stats-kda-title">KDA</p>
        <p class="summoner-stats-kda-value">{{ kda }} KDA</p>
      </div>
    </div>

    <div class="summoner-stats-divider"></div>

    <!-- Second row of stats -->
    <div class="summoner-stats-row">
      <div class="summoner-stats-csPerMin">
        <p class="summoner-stats-csPerMin-title">CS Per Min</p>
        <p class="summoner-stats-csPerMin-value">{{ csPerMin | number: '1.1-1' }}</p>
      </div>
      <div class="summoner-stats-goldPerMin">
        <p class="summoner-stats-goldPerMin-title">Gold Per Min</p>
        <p class="summoner-stats-goldPerMin-value">{{ goldPerMin | number: '1.1-1' }}</p>
      </div>
      <div class="summoner-stats-damagePerMin">
        <p class="summoner-stats-damagePerMin-title">Damage Per Min</p>
        <p class="summoner-stats-damagePerMin-value">{{ damagePerMin | number: '1.1-1' }}</p>
      </div>
      <div class="summoner-stats-visionPerMin">
        <p class="summoner-stats-visionPerMin-title">Vision Per Min</p>
        <p class="summoner-stats-visionPerMin-value">{{ visionPerMin | number: '1.1-1' }}</p>
      </div>
    </div>
  </div>

  <h1 class="champion-stats-title">Champion Stats</h1>
  <ng-container *ngFor="let champion of championStats, let i = index">
    <div class="champion-stats">
      <div class="champion-base-stats">
        <div class="champion-stats-image">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ champion.name | fiddleStickException}}.png" alt="{{ champion.name }}" width="50" height="50" class="champion-stats-image">
        </div>
        <p class="champion-stats-name">{{ champion.name }}</p>
      </div>
      <div class="champion-kda-stats">
        <p [ngStyle]="{'color': getColorForKDA(champion.kda)}" class="champion-stats-kda">{{ champion.kda }} KDA</p>
        <div class="kill-death-assist">
          <p class="champion-stats-kills">{{ champion.kills / champion.games | number: '1.1-1' }}</p>
          <span class="champion-stats-slash">/</span>
          <p class="champion-stats-deaths">{{ champion.deaths / champion.games | number: '1.1-1' }}</p>
          <span class="champion-stats-slash">/</span>
          <p class="champion-stats-assists">{{ champion.assists / champion.games | number: '1.1-1' }}</p>
        </div>
      </div>
      <div class="champion-winrate-stats">
        <p class="champion-stats-games">{{ champion.games }} Games</p>
        <div class="champion-stats-winrate-bar">
          <div [ngStyle]="{'width': champion.winrate + '%'}" class="champion-stats-winrate-bar-fill"></div>
        </div>
        <p class="champion-stats-winrate">{{ champion.winrate }}% ({{ champion.wins }}W {{ champion.losses }}L)</p>
      </div>
    </div>
    <div class="champion-stats-divider"></div>
  </ng-container>
</section>
<section *ngIf="NoStats" class="no-stats-container">
  <img class="no-stats-img" src="assets/images/error.png" alt="No Stats Found" width="200" height="200">
  <h1 class="no-stats-title">No Stats Found</h1>
  <p class="no-stats-description">This summoner has not played any ranked games in the past 30 days.</p>
</section>
<section *ngIf="loading">
  <section class="loading">
    <h2 class="loading-text">Loading<span class="loading-dots"></span></h2>
    <img src="assets/images/loading.png" alt="Loading" height="200" width="200" class="loading-img">
  </section>
</section>
