:host:nth-child(odd) .summoner-container {
  background-color: #191937;
}
:host:nth-child(odd) .summoner-container:hover {
  background-color: #1f1f42;
}
.summoner-container {
  display: flex;
  align-items: center;
  background-color: #121228;
  border-radius: 5px;
  cursor: pointer;
  border-left: 5px solid rgba(44, 51, 61, 0);
  padding: 10px 0 10px 0;
  margin: 20px 10%;
  transition: 0.2s ease-in-out;
  opacity: 0; /* Start with 0 opacity */
  transform: translateY(20px); /* Start with a lower position */
  animation: card-appear 0.5s ease-in-out;
  animation-fill-mode: both;
}

/* Define the animation properties */
@keyframes card-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.summoner-container:hover {
  background-color: #15152f;
  border-left: 10px solid #3272F9FF;
  border-radius: 15px;
}
.summoner-rank-position {
  font-size: 1.5em;
  color: #fff;
  margin-left: 10px;
  width: 3%;
}
.summoner-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
}
.summoner-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin-left: 50px;
  width: 30%;
  border-right: 3px dotted #3272F9FF;
  padding-right: 10px;
}

.summoner-stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  width: 100%;
  color: white;
}
.rank-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rank-container p {
  font-size: 1.6em;
  color: #fff;
  margin: 0 10px 0 10px;
}
.summoner-stats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
  border-left: 3px dashed #3272F9FF;
  padding-left: 2%;
  width: 25%;
}
.summoner-stats-info p {
  font-size: 1.5em;
  color: #fff;
  margin: 5px;
}
.summoner-wins-losses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summoner-wins {
  color: #7ce37c;

}
.summoner-losses {
  color: #ff4d4d;
}
.summoner-winrate {
  color: #fff;
}
.summoner-winrate-value {
  color: #afe8e8;
  font-size: 1em;
}

.summoner-lp-value {
  color: #afe8e8;
}

/* media queries */
@media only screen and (max-width: 950px) {
  .summoner-container {
    margin: 20px 2%;
  }
  .summoner-name {
    margin-left: 20px;
  }
  .summoner-stats-container {
    margin-left: 20px;
  }
  .summoner-stats-info {
    margin-right: 2%;
  }
  .rank-container p {
    font-size: 1.2em;
  }
  .summoner-stats-info p {
    font-size: 1.2em;
  }
  .summoner-wins-losses {
    margin-right: 2%;
  }
  .summoner-wins {
    font-size: 1.2em;
  }
  .summoner-losses {
    font-size: 1.2em;
  }
  .summoner-winrate {
    font-size: 1.2em;
  }
  .summoner-winrate-value {
    font-size: 1em;
  }
  .summoner-lp-value {
    font-size: 1em;
  }
}



@media only screen and (max-width: 750px) {
  .summoner-container {
    flex-direction: column;
    margin: 20px 10%;
    border-left: 0px solid #2c333d;
    border-bottom: 5px solid #2c333d;
  }
  .summoner-container:hover {
    border-bottom: 10px solid #3272F9FF;
    border-left: 0;
    border-radius: 15px;
  }
  .summoner-img {
    margin: 10px 0 10px 0;
  }
  .summoner-name {
    margin: 10px 0 10px 0;
    border-right: none;
    border-bottom: 3px dotted #3272F9FF;
    padding-right: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .summoner-stats-container {
    flex-direction: column;
    margin: 10px 0 10px 0;
  }
  .rank-container {
    margin: 10px 0 10px 0;
  }
  .summoner-stats-info {
    border-left: none;
    border-bottom: 3px dashed #3272F9FF;
    padding-left: 0;
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .summoner-wins-losses {
    margin: 10px 0 10px 0;
  }
}
