<link rel="preconnect" href="https://ddragon.leagueoflegends.com">
<section class="summoner-container" [routerLink]="['/summoner', summonerName, 'overview']" [ngStyle]="{'animation-delay': (index * 0.1) + 's'}">
  <p class="summoner-rank-position">{{ index + 1 }}.</p>
  <div class="summoner-img-container" *ngIf="inGame" [routerLink]="['/summoner', summonerName, 'live']">
    <img class="summoner-img ingame" ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/profileicon/{{ summonerIconId }}.png" alt="profile icon" width="50" height="50" priority="true">
    <p class="summoner-ingame">In Game</p>
  </div>
  <div class="summoner-img-container" *ngIf="!inGame">
    <img class="summoner-img" ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/profileicon/{{ summonerIconId }}.png" alt="profile icon" width="50" height="50" priority="true">
  </div>
  <p class="summoner-name">{{ summonerName }}</p>
  <div class="summoner-stats-container">
    <div class="rank-container">
      <img class="summoner-rank-img" ngSrc="assets/images/ranked-emblems/{{ summonerStats.tier | lowercase }}.jpeg" alt="ranked emblem" width="100" height="100" priority="true">
      <ng-container *ngIf="summonerStats.tier === 'MASTER' || summonerStats.tier === 'GRANDMASTER' || summonerStats.tier === 'CHALLENGER'">
        <p class="summoner-rank">{{ summonerStats.tier | titlecase }}</p>
        <p class="summoner-lp"><span class="summoner-lp-value">{{ summonerStats.leaguePoints }}</span> LP</p>
      </ng-container>
      <ng-container *ngIf="summonerStats.tier !== 'MASTER' && summonerStats.tier !== 'GRANDMASTER' && summonerStats.tier !== 'CHALLENGER'">
        <p class="summoner-rank">{{ summonerStats.tier | titlecase }} {{ summonerStats.rank }}</p>
      </ng-container>
    </div>
    <div class="summoner-stats-info">
      <p>
        <span class="summoner-wins">{{ summonerStats.wins }}</span>
        W
        /
        <span class="summoner-losses">{{ summonerStats.losses }}</span>
        L
      </p>
      <p class="summoner-winrate">WR :
        <span class="summoner-winrate-value" [ngStyle]="{'color': getWinrateColor(summonerStats.winrate)}">{{ summonerStats.winrate }}%</span>
      </p>
      <ng-container *ngIf="summonerStats.tier !== 'MASTER' && summonerStats.tier !== 'GRANDMASTER' && summonerStats.tier !== 'CHALLENGER'">
        <p class="summoner-lp"><span class="summoner-lp-value">{{ summonerStats.leaguePoints }}</span> LP</p>
      </ng-container>
    </div>
  </div>
</section>
