
<section class="game-container" [ngClass]="{ 'win': win, 'lose': !win }">
  <div class="game-general-info-container">
    <div class="game-general-info">
      <div class="game-general-info-time">
        <span class="game-general-info-time-value">{{ gameCreation | timeAgo }}</span>
        <span class="game-general-info-time-value-duration">{{ gameDuration * 1000 | date:'mm:ss' }}</span>
      </div>
      <div class="game-general-info-win">
        <span class="game-general-info-win-value" [ngStyle]="{ color: win ? '#2F6DEC' : 'rgb(255, 77, 77)' }">{{ win ? 'Victory' : 'Defeat' }}</span>
      </div>
    </div>
    <div class="summoner-image-summoner-container">
      <div class="summoner-image-container">
        <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ championName | fiddleStickException }}.png"
             class="game-general-info-champion-icon"
             width="100"
             height="100"
             alt="champion icon">
      </div>
      <section class="summoner-summoner-container">
        <ng-container *ngFor="let summoner of summonersId">
          <ng-container *ngIf="summoner">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/spell/{{ summoner }}.png"
                 class="summoner-summoner-spell"
                 width="50"
                 height="50"
                 alt="summoner icon">
          </ng-container>
        </ng-container>
      </section>
    </div>
  </div>
  <section class="summoner-stats-container">
    <div class="summoner-stats">
      <div class="summoner-stats-kda">
        <span class="summoner-stats-kda-value">{{ kills }} / <span style="color: #ff4d4d">{{ deaths }}</span> / {{ assists }}</span>
      </div>
      <div class="game-general-info-kda">
        <span class="game-general-info-kda-value" [ngStyle]="{ color: kda === 'Perfect' ? 'rgb(255,134,39)' : 'white' }">{{ kda }} KDA</span>
      </div>
      <div class="summoner-stats-cs">
        <span class="summoner-stats-cs-value">{{ totalMinionsKilled+neutralMinionsKilled }} ({{(totalMinionsKilled+neutralMinionsKilled)/((gameDuration*1000)/60000) | number: '1.1-1'}})</span>
      </div>
      <div class="summoner-stats-vision">
        <span class="summoner-stats-vision-value">{{ visionScore }} Vision</span>
      </div>
    </div>
    <section class="item-container">
      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/item/{{ item }}.png"
               class="summoner-item"
               width="50"
               height="50"
               alt="item icon">
        </ng-container>
        <ng-container *ngIf="!item">
          <div class="summoner-item-empty"></div>
        </ng-container>
      </ng-container>
    </section>
    <section class="teams-container">
      <section class="team-container">
        <div class="team">
          <ng-container *ngFor="let summoner of team1, index as i">
            <div class="summoner-team-container">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ team1Champs[i] | fiddleStickException }}.png"
                   class="summoner-summoner-champion-icon"
                   width="50"
                   height="50"
                   alt="champion icon">
              <a class="summoner-team-name" href="https://u.gg/lol/profile/euw1/{{summoner}}/overview" target="_blank" [ngStyle]="{ color: summoner === summonerName ? 'white' : 'rgb(170, 170, 170)'}">{{ summoner }}</a>
            </div>
          </ng-container>
        </div>
      </section>
      <section class="team-container">
        <div class="team">
          <ng-container *ngFor="let summoner of team2, index as i">
            <div class="summoner-team-container">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ team2Champs[i] | fiddleStickException }}.png"
                   class="summoner-summoner-champion-icon"
                   width="50"
                   height="50"
                   alt="champion icon">
              <a class="summoner-team-name" href="https://u.gg/lol/profile/euw1/{{summoner}}/overview" target="_blank" [ngStyle]="{ color: summoner === summonerName ? 'white' : 'rgb(170, 170, 170)'}">{{ summoner }}</a>
            </div>
          </ng-container>
        </div>
      </section>
    </section>
  </section>
</section>
