:host{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  margin:.3em 0
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  margin:.3em 0
}
.game-container{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  background:#1C224A;
  border-radius:5px;
  cursor:pointer;
  width:90%;
  margin: 1em 0 0 0;
  padding:.2em 0;
  border-right:.8em solid #29346d;
  transition:.2s;
}
.game-container.lose{
  background:#3F233C;
  border-right:.8em solid #e90b0b
}
.game-container.lose:hover{
  background:#cb3b3b8c
}
.game-container:hover{
  background:#242e62
}
.game-general-info-container{
  display:flex;
  align-items:center;
  margin-left:.7em;
  width:20%
}
.game-general-info{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  margin:.7em;
  width:5em
}
.summoner-image-summoner-container{
  display:flex;
  align-items:center;
  width:8em
}
.game-container>.game-general-info-container>.game-general-info{
  border-right:.2em dotted #2F6DEC
}
.game-container.lose>.game-general-info-container>.game-general-info{
  border-right:.2em dotted #e90b0b
}
.game-general-info-time{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  width:100%;
  margin:.3em .7em;
  color:#e5e5e5
}
.game-general-info-time-value-duration{
  color:#bcbcbc;
  margin-top:.3em
}
.game-general-info-win{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  margin:0 .7em;
  color:#fff;
  font-size:1.1rem
}
.summoner-image-container{
  display:flex;
  align-items:center;
  overflow:hidden;
  border-radius:8%;
  margin-right:.5em
}
.game-general-info-champion-icon{
  width:4em;
  height:4em;
  scale: 1.1;
}
.item-container{
  display:flex;
  margin-right:.4em;
  width:60%
}
.teams-container{
  display:flex;
  justify-content:center;
  width:40%
}
.summoner-stats-container{
  display:flex;
  align-items:center;
  width:75%
}
.summoner-stats{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:20%;
  color:#fff
}
.summoner-stats-kda{
  margin:.3em 0;
  font-size:1rem
}
.summoner-stats-cs,.summoner-stats-vision{
  margin:.2em 0;
  color:#bcbcbc
}
.game-general-info-kda{
  margin-bottom:.3em;
  font-size:.9rem
}
.summoner-item{
  width:3.5em;
  height:3.5em;
  border-radius:8%;
  margin-right:.4em
}
.summoner-item-empty{
  min-width:3em;
  min-height:3em;
  border-radius:8%;
  margin-right:.4em;
  background:#181e3f;
  border:.2em solid #2F6DEC
}
.summoner-summoner-container{
  display:flex;
  flex-direction:column;
  align-items:center
}
.summoner-summoner-spell{
  width:3em;
  height:3em;
  border-radius:8%;
  margin-right:.4em
}
.team-container{
  display:flex;
  flex-direction:row;
  align-items:center
}
.team{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-right:2.5em;
  width:6em;
  color:#fff
}
.summoner-team-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  width:5em
}
.summoner-team-container:hover>.summoner-team-name{
  border-left:.3em solid white
}
.summoner-summoner-champion-icon{
  width:2em;
  height:2em;
  border-radius:12%;
  margin-right:.3em;
  margin-bottom:.1em;
  transition:.2s
}
.summoner-team-name{
  margin:0 .3em;
  padding-left:.3em;
  font-size:.6em;
  color:#fff;
  text-overflow: ellipsis;
  text-decoration:none;
  transition:.2s
}

@media only screen and (max-height: 900px) {
  .game-general-info-container {
    width: 20%;
  }
  .game-general-info {
    width: 5em;
  }
  .summoner-image-summoner-container {
    width: 8em;
  }
  .game-general-info-time {
    margin: 0.3em 0.2em;
  }
  .game-general-info-win {
    margin: 0 .2em;
  }
  .summoner-container {
    height: 200px;
    width: 70rem;
  }
  .summoner-item {
    width: 2em;
    height: 2em;
    margin-right: .1em;
  }
  .summoner-item-empty {
    min-width: 1.7em;
    min-height: 1.7em;
    border-radius: 8%;
    border: .1em solid #2F6DEC;
    margin-right: .1em;
  }
  .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin-left: .5em;
  }
  .game-general-info-champion-icon {
    width: 3em;
    height: 3em;
  }
  .summoner-summoner-spell {
    display: none;
  }
  .summoner-team-container {
    width: 2em;
  }
  .summoner-team-name {
    font-size: .3em;
  }
  .team {
    margin-right: 3em;
    width: 3em;
  }
}
