<section class="game-container">
  <section class="team1" [ngClass]="isRemake() ? 'remake' : ''">
    <section class="info-header">
      <div class="header-summoner-info">
        <p class="header-summoner-info-item">Summoner</p>
      </div>
      <div class="header-summoner-kda">
        <p class="header-summoner-kda-item">K/D/A</p>
      </div>
      <div class="header-summoner-damage">
        <p class="header-summoner-damage-item">Damage Dealt</p>
      </div>
      <div class="header-summoner-damage-taken">
        <p class="header-summoner-damage-taken-item">Damage Taken</p>
      </div>
      <div class="header-summoner-items">
        <p class="header-summoner-items-item">Items</p>
      </div>
    </section>
    <ng-container *ngFor="let summoner of team1">
      <div class="summoner" [ngClass]="currentSummoner === summoner.summonerName ? 'current-summoner' : ''">
        <div class="main-info">
          <div class="summoner-champion">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/champion/{{  summoner.championName | fiddleStickException }}.png"
                 class="summoner-summoner-champion-icon"
                 width="50"
                 height="50"
                 alt="champion icon">
          </div>
          <div class="summoner-spells">
            <div class="summoner-spell">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSpellName(summoner.summoner1Id) }}.png"
                   class="summoner-spell-icon"
                   width="25"
                   height="25"
                   alt="summoner spell icon">
            </div>
            <div class="summoner-spell">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSpellName(summoner.summoner2Id) }}.png"
                   class="summoner-spell-icon"
                   width="25"
                   height="25"
                   alt="summoner spell icon">
            </div>
          </div>
          <div class="summoner-name">{{ summoner.summonerName }}</div>
        </div>
        <div class="kill-death-assist">
          <div class="summoner-kda">
            <div class="summoner-kda-item">{{ summoner.kills }}</div>
            <p class="summoner-kda-item">/</p>
            <div class="summoner-kda-item">{{ summoner.deaths }}</div>
            <p class="summoner-kda-item">/</p>
            <div class="summoner-kda-item">{{ summoner.assists }}</div>
          </div>
        </div>
        <div class="damage">
          <div class="summoner-damage">
            <div class="summoner-damage-item">{{ summoner.totalDamageDealtToChampions }}</div>
            <div class="damage-bar">
              <div class="damage-bar-fill" [style.width.%]="summoner.totalDamageDealtToChampions / maxDamage * 100"></div>
            </div>
          </div>
        </div>
        <div class="damage-taken">
          <div class="summoner-damage-taken">
            <div class="summoner-damage-taken-item">{{ summoner.totalDamageTaken }}</div>
            <div class="damage-taken-bar">
              <div class="damage-taken-bar-fill" [style.width.%]="summoner.totalDamageTaken / maxDamageTaken * 100"></div>
            </div>
          </div>
        </div>
        <div class="summoner-items">
          <div class="summoner-item" *ngIf="summoner.item0">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item0 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item0"></div>
          <div class="summoner-item" *ngIf="summoner.item1">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item1 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item1"></div>
          <div class="summoner-item" *ngIf="summoner.item2">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item2 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item2"></div>
          <div class="summoner-item" *ngIf="summoner.item3">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item3 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item3"></div>
          <div class="summoner-item" *ngIf="summoner.item4">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item4 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item4"></div>
          <div class="summoner-item" *ngIf="summoner.item5">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item5 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item5"></div>
          <div class="summoner-item" *ngIf="summoner.item6">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item6 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item6"></div>
        </div>
      </div>
    </ng-container>
  </section>
  <section class="game-objective-container">
    <section class="team1-objective-container">
      <div class="team-1-baron">
        <p class="team-1-baron-item">Baron:</p>
        <p class="team-1-baron-item">{{ game.info.teams[0].objectives.baron.kills }}</p>
      </div>
      <div class="team-1-dragon">
        <p class="team-1-dragon-item">Dragon:</p>
        <p class="team-1-dragon-item">{{ game.info.teams[0].objectives.dragon.kills }}</p>
      </div>
      <div class="team-1-tower">
        <p class="team-1-tower-item">Tower:</p>
        <p class="team-1-tower-item">{{ game.info.teams[0].objectives.tower.kills }}</p>
      </div>
    </section>
    <section class="game-info">
      <div class="total-kill-bar">
        <p class="total-kill-bar-item">Total Kills</p>
        <div class="total-kill-bar-fill-1" [style.width.%]="game.info.teams[0].objectives.champion.kills / (game.info.teams[0].objectives.champion.kills + game.info.teams[1].objectives.champion.kills) * 100">
          <p class="total-kill-bar-fill-1-item">{{ game.info.teams[0].objectives.champion.kills }}</p>
        </div>
        <div class="total-kill-bar-fill-2" [style.width.%]="game.info.teams[1].objectives.champion.kills / (game.info.teams[0].objectives.champion.kills + game.info.teams[1].objectives.champion.kills) * 100">
          <p class="total-kill-bar-fill-2-item">{{ game.info.teams[1].objectives.champion.kills }}</p>
        </div>
      </div>
    </section>
    <section class="team2-objective-container">
      <div class="team-2-baron">
        <p class="team-2-baron-item">Baron:</p>
        <p class="team-2-baron-item">{{ game.info.teams[1].objectives.baron.kills }}</p>
      </div>
      <div class="team-2-dragon">
        <p class="team-2-dragon-item">Dragon:</p>
        <p class="team-2-dragon-item">{{ game.info.teams[1].objectives.dragon.kills }}</p>
      </div>
      <div class="team-2-tower">
        <p class="team-2-tower-item">Tower:</p>
        <p class="team-2-tower-item">{{ game.info.teams[1].objectives.tower.kills }}</p>
      </div>
    </section>
  </section>
  <section class="team2" [ngClass]="isRemake() ? 'remake' : ''">
    <section class="info-header">
      <div class="header-summoner-info">
        <p class="header-summoner-info-item">Summoner</p>
      </div>
      <div class="header-summoner-kda">
        <p class="header-summoner-kda-item">K/D/A</p>
      </div>
      <div class="header-summoner-damage">
        <p class="header-summoner-damage-item">Damage Dealt</p>
      </div>
      <div class="header-summoner-damage-taken">
        <p class="header-summoner-damage-taken-item">Damage Taken</p>
      </div>
      <div class="header-summoner-items">
        <p class="header-summoner-items-item">Items</p>
      </div>
    </section>
    <ng-container *ngFor="let summoner of team2">
      <div class="summoner" [ngClass]="currentSummoner === summoner.summonerName ? 'current-summoner' : ''">
        <div class="main-info">
          <div class="summoner-champion">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/champion/{{  summoner.championName | fiddleStickException }}.png"
                 class="summoner-summoner-champion-icon"
                 width="50"
                 height="50"
                 alt="champion icon">
          </div>
          <div class="summoner-spells">
            <div class="summoner-spell">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSpellName(summoner.summoner1Id) }}.png"
                   class="summoner-spell-icon"
                   width="25"
                   height="25"
                   alt="summoner spell icon">
            </div>
            <div class="summoner-spell">
              <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSpellName(summoner.summoner2Id) }}.png"
                   class="summoner-spell-icon"
                   width="25"
                   height="25"
                   alt="summoner spell icon">
            </div>
          </div>
          <div class="summoner-name">{{ summoner.summonerName }}</div>
        </div>
        <div class="kill-death-assist">
          <div class="summoner-kda">
            <div class="summoner-kda-item">{{ summoner.kills }}</div>
            <p class="summoner-kda-item">/</p>
            <div class="summoner-kda-item">{{ summoner.deaths }}</div>
            <p class="summoner-kda-item">/</p>
            <div class="summoner-kda-item">{{ summoner.assists }}</div>
          </div>
        </div>
        <div class="damage">
          <div class="summoner-damage">
            <div class="summoner-damage-item">{{ summoner.totalDamageDealtToChampions }}</div>
            <div class="damage-bar">
              <div class="damage-bar-fill" [style.width.%]="summoner.totalDamageDealtToChampions / maxDamage * 100"></div>
            </div>
          </div>
        </div>
        <div class="damage-taken">
          <div class="summoner-damage-taken">
            <div class="summoner-damage-taken-item">{{ summoner.totalDamageTaken }}</div>
            <div class="damage-taken-bar">
              <div class="damage-taken-bar-fill" [style.width.%]="summoner.totalDamageTaken / maxDamageTaken * 100"></div>
            </div>
          </div>
        </div>
        <div class="summoner-items">
          <div class="summoner-item" *ngIf="summoner.item0">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item0 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item0"></div>
          <div class="summoner-item" *ngIf="summoner.item1">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item1 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item1"></div>
          <div class="summoner-item" *ngIf="summoner.item2">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item2 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item2"></div>
          <div class="summoner-item" *ngIf="summoner.item3">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item3 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item3"></div>
          <div class="summoner-item" *ngIf="summoner.item4">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item4 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item4"></div>
          <div class="summoner-item" *ngIf="summoner.item5">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item5 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item5"></div>
          <div class="summoner-item" *ngIf="summoner.item6">
            <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/item/{{ summoner.item6 }}.png"
                 class="summoner-item-icon"
                 width="25"
                 height="25"
                 alt="item icon">
          </div>
          <div class="summoner-item-empty" *ngIf="!summoner.item6"></div>
        </div>
      </div>
    </ng-container>
  </section>
</section>
