<header class="Header">
  <div class="Header-main">
    <img class="Header-logo" src="assets/images/logo.png" alt="logo" [routerLink]="['/']">
    <h1 class="Header-title">Road To <span class="Header-title-Master">Master</span></h1>
  </div>
</header>
<section class="Container">
  <router-outlet></router-outlet>
</section>
<footer class="Footer">
  <p class="Footer-text">Made with <span class="Footer-text-Heart">♥</span> by <a class="Footer-link" href="https://github.com/Marin-Clement" target="_blank">Marin Clément</a></p>
</footer>
