.Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  background-color: #080827;
}
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 15px 25px 15px 25px;
  background-color: #0a0a2f;
  border-bottom: 5px solid #3272F9FF;
}
.Header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.Header-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  cursor: default;
}
.Header-title-Master {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.Header:hover .Header-title-Master {
  color: #ca6fe8;
}
.Header-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
  transition: 0.2s ease-in-out;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav-link {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out
}
.nav-link:hover {
  color: #ca6fe8;
}
.nav-link.active {
  color: #ca6fe8;
  margin-bottom: 10px;
  border-bottom: 3px solid #ca6fe8;
}
.nav-link-admin {
  color: #da3232;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
}
.nav-link-admin:hover {
  color: #b92626;
}
.nav-link-admin.active {
  color: #b92626;
  margin-bottom: 10px;
  border-bottom: 3px solid #b92626;
}

.nav-separator {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px 0 10px;
}
.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 2em;
  padding: 15px 25px 15px 25px;
  background-color: #0a0a2f;
  border-top: 5px solid #3272F9FF;
}
.Footer a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.Footer a:hover {
  color: #ca6fe8;
}
.Footer-text-Heart {
  color: #ca6fe8;
  cursor: default;
  flex-direction: row;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.Footer-riot {
  color: #bebebe;
  font-size: 0.5em;
  margin-top: 10px;
  text-align: center;
}
.Footer-admin {
  font-size: 0.5em;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0);
}
.Footer-admin:hover {
  color: #fff;
}
