<section class="game-info">
  <p class="game-time" *ngIf="liveGame">{{ gameTime }}</p>
  <div class="refresh-button" (click)="refreshGame()">
    <p class="refresh-button-text">Refresh</p>
  </div>
</section>
<section class="live-game" *ngIf="!loading && liveGame">
  <section class="team">
    <div class="summoner" *ngFor="let participant of team1, let i = index">
      <a class="main-summoner-info" href="https://u.gg/lol/profile/euw1/{{participant.summonerName}}/overview" target="_blank">
        <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/profileicon/{{participant.profileIconId}}.png"
             class="summoner-icon"
             width="50"
             height="50"
             alt="summoner icon">
        <div class="summoner-name" [ngClass]="{'summoner-name-active': participant.summonerName === summonerName}">{{participant.summonerName}}</div>
      </a>
      <div class="main-summoner-champion-container">
        <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/champion/{{ getChampionName(participant.championId) | fiddleStickException }}.png"
             class="summoner-summoner-champion-icon"
             width="50"
             height="50"
             alt="champion icon">
        <div class="main-summoner-spells">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSummonerSpellName(participant.spell1Id) }}.png"
               class="summoner-spell-icon"
               width="25"
               height="25"
               alt="summoner spell icon">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSummonerSpellName(participant.spell2Id) }}.png"
               class="summoner-spell-icon"
               width="25"
               height="25"
               alt="summoner spell icon">
        </div>
        <p class="summoner-champion-name">{{ getChampionName(participant.championId) }}</p>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="summoner" *ngFor="let participant of team2">
      <a class="main-summoner-info" href="https://u.gg/lol/profile/euw1/{{participant.summonerName}}/overview" target="_blank">
        <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/profileicon/{{participant.profileIconId}}.png"
             class="summoner-icon"
             width="50"
             height="50"
             alt="summoner icon">
        <div class="summoner-name" [ngClass]="{'summoner-name-active': participant.summonerName === summonerName}">{{participant.summonerName}}</div>
      </a>
      <div class="main-summoner-champion-container">
        <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/champion/{{ getChampionName(participant.championId) | fiddleStickException }}.png"
             class="summoner-summoner-champion-icon"
             width="50"
             height="50"
             alt="champion icon">
        <div class="main-summoner-spells">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSummonerSpellName(participant.spell1Id) }}.png"
               class="summoner-spell-icon"
               width="25"
               height="25"
               alt="summoner spell icon">
          <img ngSrc="https://ddragon.leagueoflegends.com/cdn/13.24.1/img/spell/{{ getSummonerSpellName(participant.spell2Id) }}.png"
               class="summoner-spell-icon"
               width="25"
               height="25"
               alt="summoner spell icon">
        </div>
        <p class="summoner-champion-name">{{ getChampionName(participant.championId) }}</p>
      </div>
    </div>
  </section>
</section>
<section class="no-live-game" *ngIf="!liveGame">
  <img class="error-img" ngSrc="assets/images/error.png" alt="error" width="200" height="200">
  <p> '{{ summonerName }}' is not in game.</p>
  <p> just launched a game ? use the refresh button !</p>
</section>
