.live-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: come-from-bottom 0.5s ease-in-out;
}
@keyframes come-from-bottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.team:nth-child(2) .summoner {
  flex-direction: row-reverse;
  border-bottom: 2px solid #ff4655;
}
.team:nth-child(2) .summoner .main-summoner-champion-container {
  flex-direction: row-reverse;
}
.summoner {
  background: #1e1e4a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.4em;
  border-bottom: 2px solid #3272f9;
  color: #fff;
  margin-bottom: 0.5em;
}
.main-summoner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 12em;
}
.main-summoner-info:hover .summoner-icon {
  transform: scale(1.1);
}
.main-summoner-info:hover .summoner-name {
  color: #3272f9;
}
a {
  text-decoration: none;
  color: #fff;
}
.main-summoner-champion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 12em;
}
.main-summoner-spells {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em;
  height: 100%;
}
.summoner-icon {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-bottom: 0.5em;
  transition: 0.2s ease-in-out;
}
.summoner-name {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.summoner-name-active {
  color: #ff9b00;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  height: 100%;
}
.refresh-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #1e1e4a;
  height: 100%;
  width: 5em;
  border-radius: 0.5em;
  border: 2px solid #3272f9;
  padding: 0.2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.refresh-button:hover {
  background: #3272f9;
}
.refresh-button:active {
  background: #1e1e4a;
  border: 2px solid #3272f9;
  transform: scale(0.95);
}
.refresh-button-text {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.game-time {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  margin-right: 0.5em;
}
.no-live-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60em;
  background: #17173d;
  padding: 1em;
  border-radius: 2em;
  color: #fff;
  text-align: center;
  animation: come-from-bottom 0.5s ease-in-out;
}
.error-img {
  height: 20em;
  width: 20em;
  margin-bottom: 0.5em;
  border-radius: 20%;
}
.no-live-game p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
