.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 2rem;
  width: 100%;
}
.history-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.history-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 100%;
  border-right: 2px solid #3272f9;
  background: #0d0d31;
  margin-right: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  animation: stepFromLeft 0.5s ease-in-out;
}
.game-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90em;
  height: 100%;
  border-left: 2px solid #3272f9;
  background: #0b0b2e;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  animation: stepFromRight 0.5s ease-in-out;
}
@keyframes stepFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes stepFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.no-more-games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.no-more-games-icon{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #0a0a2f;
}
.no-more-games-icon:hover{
  transform: scale(1.1);
  background: #3272F9FF;
}
.no-games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.loading-text {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  font-size: 2rem;
  color: #ffffff;
}

.loading-dots::after {
  content: "...";
  display: inline-block;
  animation: loadingDots 1.5s infinite;
  width: 0;
  height: 2rem;
  overflow: hidden;
}

@keyframes loadingDots {
  0%, 60%, 100% {
    width: 0;
  }
  30% {
    width: 25px;
  }
}
.loading-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
h2{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  cursor: default;
  transition: all 0.3s ease-in-out;
}
h2:hover{
  color: #ce2828;
}
p{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
img{
  object-fit: cover;
  border-radius: 25%;
}
